@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.txt {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 25px;
}

.logo {
    width: 150px;
    height: 90px;
    left: 9px;
    top: -9px;
    position: fixed;
}

#top{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    background-color: #b84a28;
    padding: 19px;
    position: fixed;
    top: 0;
    left: 0;
}

.titre {
    text-align: center;
    font-size: 24px;
    color: white;
    width : 30%;
    letter-spacing : 5px;
}


body {
  margin-top: 80px;
  background-image: url('background/IMG_0750.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}



table {
    width: 50%;
    margin: 80px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}

th {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

td {
    background: rgba(255, 255, 255, 0.8);
}


button.ban {
    background: #ff4444;
    border: none;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button.ban:hover {
    background: #cc0000;
}


footer {
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 13px; 

}
