@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.flex-navabr{
    display: flex;
    position: fixed;
    top: 22px;
    left: 220px;
    z-index: 1000;
    gap : 20px;


}
.texteAccueil{
    width: 150px;
    height: 90px;
    left: 190px;
    color: #b84a28;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    background-color : white;
    padding:0px 16px 4px 8px;
    border-radius : 30px;
    width : fit-content;
    height : 30px;
    font-size : 16px;
    box-shadow : 0 0 10px rgba(0,0,0,0.3);
    align-items : center;
    justify-content : center;
}

.texte-recherche{
    width: 150px;
    height: 90px;
    left: 190px;
    color: #b84a28;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    background-color : white;
    padding:0px 16px 4px 8px;
    border-radius : 30px;
    width : fit-content;
    height : 30px;
    font-size : 16px;
    box-shadow : 0 0 10px rgba(0,0,0,0.3);
    align-items : center;
    justify-content : center;
}

.texteVoyage{
    width: 150px;
    height: 90px;
    left: 350px;
    top: 22px;
    color: #b84a28;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    background-color : white;
    padding:0px 16px 4px 8px;
    border-radius : 30px;
    width : fit-content;
    height : 30px;
    font-size : 16px;
    box-shadow : 0 0 10px rgba(0,0,0,0.3);
    align-items : center;
    justify-content : center;
}

#login {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    background-color: #b84a28;
    padding: 22px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index : 1000;
}

a:hover{
	text-decoration : underline ;
}

.logo {
    width: 150px;
    height: 90px;
    left: 9px;
    top: -11px;
    position: fixed;
    z-index : 1000;
}

.texte-connexion{
    color: #b84a28;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 15px;
    background-color : white;
    border-radius : 30px;
    width : 155px;
    height : 30px;
    font-size : 16px;
    box-shadow : 0 0 10px rgba(0,0,0,0.3);
    align-items : center;
    justify-content : center;
}

.texte-inscription{
    color: #b84a28;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 15px;
    background-color : white;
    border-radius : 30px;
    width : 130px;
    height : 30px;
    font-size : 16px;
    box-shadow : 0 0 10px rgba(0,0,0,0.3);
}

.menu-icon{
  margin : 0 10px;
}

.user-icon{
  color : #602715;
  font-size : 16px;
  margin-right : 15px;
}
