@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background-color: #121212;
  background-image: none;
  color: #e0e0e0;
}


a:hover {
    text-decoration: underline;
}

.filtre .contenu {
    background: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
}

.filtre h2,
.filtre h3 {
    color: #f1f1f1;
}

.filtre label {
    font-weight: bold;
    margin-top: 10px;
    color: #d0d0d0;
}

.filtre input,
.filtre select,
.filtre button {
    background-color: #2b2b2b;
    color: #f0f0f0;
    border: 1px solid #555;
}

.filtre button {
    background-color: #b84a28;
    color: white;
}

.filtre button:hover {
    background-color: #a74425;
}

.filtre .Resultat {
    background: #2e2e2e;
    border-left: 5px solid #b84a28;
}

.Resultat {
    background-color: #2a2a2a;
    border: 1px solid #444;
}

.trek-image {
    filter: brightness(90%);
}

.info {
    color: #ddd;
}

.details {
    color: #ff7043;
}

.details:hover {
    color: #ffa07a;
    text-decoration: underline;
}

footer {
    background: rgba(255, 255, 255, 0.1);
    color: #aaa;
}


