@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('background/IMG_0750.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
a:hover{
	text-decoration : underline ;
}

.logo {
    width: 150px;
    height: 90px;
    left: 9px;
    top: -11px;
    position: fixed;
}



.filtre .contenu {
    min-height: 51vh;
    max-width : 600px;
    margin : 0 auto 20px;
    margin-top : 90px;
    background : white;
    padding : 20px;
    border-radius : 10px;
    box-shadow : 0 0 10px rgba(0, 0, 0, 0.8);
    
}

.filtre h2 {
    text-align: center;
    color: #333;
}

.filtre label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}


.panier {
	width : 50%;
	margin : 150px auto;

}



.Resultat {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.trek-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.info {
    flex: 1;
}

.details {
    display: inline-block;
    margin-top: 5px;
    color: #b84a28;
    text-decoration: none;
    font-weight: bold;
}

.details:hover {		
    color: #b84a28;
    text-decoration: underline;
}


footer {
    position: fixed;
    display: flex;
    align-items: left;
    padding: 0px;
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    width: 100%;
    font-size: 13px; 
}

h1 {
color : white;
font-size : 50px;
}