@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('IMG_0750.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.filtre #login {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    background-color: #b84a28;
    padding: 22px 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.filtre a:hover{
	text-decoration : underline ;
}

.filtre .logo {
    width: 7%;
    height: 70px;
    left: 9px;
    top: -9px;
    position: fixed;
}

.filtre .txt {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 25px;
}


.filtre .contenu {
    max-width: 600px;
    margin: 0 auto 20px;
    margin-top : 140px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    
}

.filtre h2 {
    text-align: center;
    color: #333;
}

.filtre label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.filtre input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
  
}

.filtre button {
    background-color: #b84a28;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.filtre button:hover {
    background-color: #b84a28;
}

.filtre h3  {
    margin-top: 20px;
    color: #333;
}

.filtre .Resultat {
    background: #FFF;
    padding: 10px;
    border-left: 5px solid #b84a28;
    margin-top: 10px;
    border-radius: 5px;
   
}
footer {
    padding: 1px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 13px; 

}